#tsparticles{
  height: 450px;
}

.particles-content{
  margin:6% 20% 6% 15%;
  font-size: larger;
  color: antiquewhite;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: -1px;
}

.profile-pic{
  width: 300px;
  height: 300px;
  border-radius: 200px;
}

.profile-pic:hover{
  /* width: 500px;
  height: 500px;
  border-radius: 250px;
  border: 15px solid #fe8d59; */
  transform: scale(1.1,1.1);
  transition: 1s
}

.text-container{
  font-size: 25px;
  padding-left: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.text-container div{
  text-align: start;
  align-items: center;
}

.particles-content .text-container img{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}



@media only screen and (max-width: 600px) {

  #tsparticles{
    height: 500px;
  }

  .particles-content{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
  }

  .particles-content .text-container img{
    height: 15px;
    width: 15px;
    margin-bottom: 0px !important;
  }

  .profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  .text-container{
    font-size: 14px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}